
  
  h1 {
    font-family: 'Fredoka One', cursive;
    color: #73cce7;
    font-size: 9vw;
    text-align: center;
    margin: 4vh 0 1vh 0;
  }

  
  h2 {
    font-family: 'Fredoka One', cursive;
    color: #73cce7;
    font-size: 4vh;
    text-align: center;
    margin: 4vh 0 1vh 0;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    color: #5dc6df;
    padding: 0 10vw;
    font-size: 2vw;
    line-height: 1.5;
  }

    small {
        color: #3cc0d7;
        display: block;
        font-size: 1.5vh;
        padding: 0 10vw;
        line-height: 1.7;
    }

  .cute-blue {
    a {
      color: #73cce7;

      &:active,
      &:visited,
      &:hover {
        color: #73cce7;
      }
    }
  }

  .cute-body {
        margin: 0;
        padding: 0;
        display: grid;
        height: 100vh;
        overflow: hidden;
        width: 100vw;
        grid-template-columns: 10vw 40vw 40vw 10vw;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-areas: 
      "header header header sidebar2"
      "sidebar1 main main sidebar2"
      "sidebar1 footer footer footer";

      header {
        grid-area: header;
        background: url(../images/blue-bg-white-dots.png) repeat center center;
        display: flex;
        align-items: center;
      }

      a {
        text-decoration: none;
        
        &:active,
        &:visited,
        &:hover {
          text-decoration: none;
        }
      }

      .contact-me-link {
        font-family: 'Fredoka One', cursive;
        color: #73cce7;
        font-size: 8vh;
        text-align: center;
        padding: 4vw;
        overflow-wrap: break-word;
        display: block;
        width: 100%;
      }
    nav {
        display: flex;
        flex:1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-left: 15vw;
        margin-right: 5vw;

        a {
            font-family: 'Fredoka One', cursive;
            color: #73cce7;
            font-size: 4vh;
            margin-left: 1vw;   

            &:hover {
            }
        }
    }

    main {
        grid-area: main;
        background-color: #F1F7F7;
        overflow-y: scroll;
      }
      aside:first-of-type {
        grid-area: sidebar1;
        background: url(../images/blue-strips.png) repeat center center;
      }
      aside:nth-of-type(2) {
        grid-area: sidebar2;
        background: url(../images/blue-strips.png) repeat center center;
      }
      footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 2vh 0;
        grid-area: footer;
        background: url(../images/blue-bg-white-dots.png) repeat center center;
      }
  }