* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bubble {
  font-family: 'Fredoka One', cursive;
}

.typing body {
  background-color: black;
  color: #a3a3a3;
}

.typing h1 {
  padding: 0;
  margin: 0;
}

.typing p {
  font-family: monospace;
  font-size: 20px;
}

.sketti body {
  height: 100vh;
  width: 100vw;
  background: center center no-repeat url("../images/kari-bronson-alphagetti.jpg");
  background-size: cover;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .sketti body {
    background-position-x: 63%;
  }
}

.las-vegas body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#99fdeb), color-stop(#358AAB), to(#2c6fb3));
  background-image: linear-gradient(to bottom right, #99fdeb, #358AAB, #2c6fb3);
}

.las-vegas .sign-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  top: 50vh;
  min-height: 50vh;
  -webkit-transform: translateY(-25vh);
          transform: translateY(-25vh);
}

.las-vegas .sign-wrapper::after {
  clear: both;
  overflow: hidden;
}

.las-vegas .sign-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  top: -4vw;
}

@-webkit-keyframes blinking-outline {
  50% {
    outline-color: transparent;
  }
}

@keyframes blinking-outline {
  50% {
    outline-color: transparent;
  }
}

@-webkit-keyframes blinking-border {
  50% {
    border-color: #FDF360;
  }
}

@keyframes blinking-border {
  50% {
    border-color: #FDF360;
  }
}

.las-vegas .sign {
  -webkit-transform: skewY(-27deg) skewX(45deg);
          transform: skewY(-27deg) skewX(45deg);
  position: absolute;
  border-radius: 1vw;
  height: 0;
  padding-bottom: 50%;
  width: 50%;
  left: 25%;
  background-color: #fff;
  z-index: -1;
}

.las-vegas .sign span {
  height: 1vw;
  border-top: 1vw dotted #FDF360;
  display: block;
  position: absolute;
}

@-webkit-keyframes span1 {
  50% {
    right: -1vw;
  }
}

@keyframes span1 {
  50% {
    right: -1vw;
  }
}

@-webkit-keyframes span2 {
  50% {
    right: 1vw;
  }
}

@keyframes span2 {
  50% {
    right: 1vw;
  }
}

@-webkit-keyframes span3 {
  50% {
    top: calc(50% - 1vw);
  }
}

@keyframes span3 {
  50% {
    top: calc(50% - 1vw);
  }
}

@-webkit-keyframes span4 {
  50% {
    top: 50%;
  }
}

@keyframes span4 {
  50% {
    top: 50%;
  }
}

.las-vegas .sign span:nth-child(1) {
  width: 100%;
  -webkit-animation: span1 1s infinite step-end;
          animation: span1 1s infinite step-end;
  top: -1vw;
  right: 0;
}

.las-vegas .sign span:nth-child(2) {
  width: 100%;
  -webkit-animation: span2 1s infinite step-end;
          animation: span2 1s infinite step-end;
  top: 100%;
  right: 0;
}

.las-vegas .sign span:nth-child(3) {
  width: 100%;
  -webkit-animation: span3 1s infinite step-end;
          animation: span3 1s infinite step-end;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 50%;
  right: calc((100% + 1vw)/2);
}

.las-vegas .sign span:nth-child(4) {
  width: 100%;
  -webkit-animation: span4 1s infinite step-end;
          animation: span4 1s infinite step-end;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: calc(50% - 1vw);
  left: calc((100% + 1vw)/2);
}

.las-vegas .circle {
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.las-vegas .circle > span {
  color: #ED3833;
  border: 0.2vw solid lightblue;
  background-color: white;
  border-radius: 6vw;
  width: 9vw;
  height: 9vw;
  font-size: 6vw;
  line-height: 1;
  text-transform: uppercase;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
}

.las-vegas .script {
  color: #2F88CB;
  font-size: 3vw;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
  -webkit-transform: scale(2, 0.7);
          transform: scale(2, 0.7);
}

.las-vegas .script > span {
  text-transform: capitalize;
  font-size: 5vw;
  font-weight: bold;
  font-family: cursive;
  font-style: italic;
}

.las-vegas .heading {
  color: #ED3833;
  font-size: 8vw;
  text-transform: uppercase;
}

.las-vegas .city {
  color: #2F88CB;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: bold;
}

.las-vegas .post {
  top: 10vh;
  height: 100vh;
  left: 20vw;
  width: 20vw;
  position: absolute;
  border-top: 2vw solid #40A0BE;
  border-left: 2vw solid #40A0BE;
  border-right: 2vw solid #40A0BE;
  z-index: -1;
}

.las-vegas .star {
  width: 0;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  border-bottom: 7vw solid red;
  position: relative;
}

.las-vegas .star:after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
  position: absolute;
  content: "";
  top: 30px;
  left: -50px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: #73cce7;
  font-size: 9vw;
  text-align: center;
  margin: 4vh 0 1vh 0;
}

h2 {
  font-family: 'Fredoka One', cursive;
  color: #73cce7;
  font-size: 4vh;
  text-align: center;
  margin: 4vh 0 1vh 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #5dc6df;
  padding: 0 10vw;
  font-size: 2vw;
  line-height: 1.5;
}

small {
  color: #3cc0d7;
  display: block;
  font-size: 1.5vh;
  padding: 0 10vw;
  line-height: 1.7;
}

.cute-blue a {
  color: #73cce7;
}

.cute-blue a:active, .cute-blue a:visited, .cute-blue a:hover {
  color: #73cce7;
}

.cute-body {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  -ms-grid-columns: 10vw 40vw 40vw 10vw;
      grid-template-columns: 10vw 40vw 40vw 10vw;
  -ms-grid-rows: 10vh 80vh 10vh;
      grid-template-rows: 10vh 80vh 10vh;
      grid-template-areas: "header header header sidebar2" "sidebar1 main main sidebar2" "sidebar1 footer footer footer";
}

.cute-body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background: url(../images/blue-bg-white-dots.png) repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cute-body a {
  text-decoration: none;
}

.cute-body a:active, .cute-body a:visited, .cute-body a:hover {
  text-decoration: none;
}

.cute-body .contact-me-link {
  font-family: 'Fredoka One', cursive;
  color: #73cce7;
  font-size: 8vh;
  text-align: center;
  padding: 4vw;
  overflow-wrap: break-word;
  display: block;
  width: 100%;
}

.cute-body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 15vw;
  margin-right: 5vw;
}

.cute-body nav a {
  font-family: 'Fredoka One', cursive;
  color: #73cce7;
  font-size: 4vh;
  margin-left: 1vw;
}

.cute-body main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #F1F7F7;
  overflow-y: scroll;
}

.cute-body aside:first-of-type {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar1;
  background: url(../images/blue-strips.png) repeat center center;
}

.cute-body aside:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: sidebar2;
  background: url(../images/blue-strips.png) repeat center center;
}

.cute-body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2vh 0;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background: url(../images/blue-bg-white-dots.png) repeat center center;
}
/*# sourceMappingURL=main.css.map */